name: Update Docs
on: push
permissions:
  contents: write
jobs:
  update-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run script
        run: python ./.github/workflows/update_docs.py
      - name: Commit file
        run: |
          git config --local user.name  ${{ github.actor }}        
          git config --local user.email "${{ github.actor }}@users.noreply.github.com"
          git add .
          git commit -m "Update documentation"
          git push
