name: Update Docs
on: push
jobs:
  update-docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Run script
        run: python ./.github/workflows/update_docs.py
